@import 'normalize.css';

body, html {
    height: 100%;
    background-color: #e14b5a;
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
    margin-left: 51px;
    margin-right: 43px;
}

.main-container {
    position: relative;
    background-color: white;

    .header-content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-right: 111px;
        padding-left: 101px;

        font-size: 21px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;

        .navigation {
            color: #000;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            div {
                margin-right: 58px;
            }
        }

        .sign-in {
            background-color: #000;
            color: #fff;
            border: 1px solid transparent;
            padding: 5px 30px;
            border-radius: 26px;
            box-shadow: 3px 3px 11px rgb(0 0 0 / 30%);
        }
    }
    .article-content{ 
        display: flex;
        margin-top: -12px;

        .text-style{
            padding-left: 172px;
            padding-top: 152px;
            .heading-style {
                font-size: 64px;
                color: #000;
                font-weight: 800;
                line-height: 1.25;
                text-align: left;
            }
            
            .p-style{
                font-size: 22px;
                opacity: 0.4;
                font-weight: 500;
                line-height: 2;
                margin-top: 57px;
                }
            .looking{
                color: #e14b5a;
                font-size: 26px;
                font-weight: 600;
                line-height: 1.25;
                margin-top: 53px;
            }
            .search{
                display: flex;
                text-align: center;
                margin-top: 34px;
                
                .famele{
                    width: 32%;
                    padding: 10px 0px;
                    margin-right: 21px;
                    color: #e14b5a;
                    border: 2px solid gray;
                    border-radius: 26px;
                    box-shadow: 3px 3px 11px rgb(0 0 0 / 30%); 
                }
                .age{
                    width: 17%;
                    padding: 10px 0px;
                    margin-right: 20px;
                    color: #e14b5a;
                    border: 2px solid gray ;
                    border-radius: 26px;
                    box-shadow: 3px 3px 11px rgb(0 0 0 / 30%); 
                }
                .search-buttom{
                    width: 27%;
                    padding: 10px 0px;
                    background-color: #e14b5a;
                    color: #fff;
                    border: 1px solid transparent;
                    border-radius: 26px;
                    box-shadow: 3px 3px 11px rgb(0 0 0 / 30%); 
                }

            }
        }
        .layer-style{
            padding-left: 76px;
            
        }
    }
}
